<%-include('header');-%>


<div class="restrogrid">


<%var i=0;%>

<%restaurants.forEach(function(restaurant){%>




  <%if(i==0) {%>
    <div class="row">

  <%}%>

  <%if(i%3==0&&i!=0) {%>
    </div>
    <div class="row">

  <%}%>



  <div class="col-md-4 restaurant">
           <div class="card mb-4 border-dark">
              <img class="card-img-top" src="<%=restaurant.restaurant.featured_image%>" alt="Card image cap">
              <div class="card-body">
                 <h5 class="card-title"><%=restaurant.restaurant.name%></h5>
                 <p class="card-text"><%=restaurant.restaurant.cuisines%></p>
                 <p class="card-text">Rs. <%=restaurant.restaurant.average_cost_for_two%></p>
                 <a href="<%=restaurant.restaurant.url%>" class="btn btn-dark btn-sm">Order here</a>
              </div>
           </div>
        </div>

  <%i++;%>

<%})%>

</div>

</div>




<%-include('footer');-%>
